<p id="notice"><%= notice %></p>

<div class="course">
    <p class="course-title">
      <%= @course.cid.upcase %> - <%= @course.title %>
    </p>

    <p>
      <strong>Terms: </strong>
      <%= @course.terms %>
    </p>

    <p>
      <strong>Instructors: </strong>
      <%= @course.instructors %>
    </p>

    <p>
      <strong>Credits: </strong>
      <%= @course.credits %>
    </p>

    <p>
      <strong>Overview: </strong>
      <%= @course.overview %>
    </p>
</div>

<h2 class="comment-label">Comments</h2>

<div class="course comment">
  <% @course.comments.each do |comment| %>
    
    <p>
      <%= comment.body %>
    </p>

    <p>
      <strong> - <%= comment.commenter %></strong>
    </p>

  <% end %>
  <% if @course.comments.empty?%>
    No comments to show
  <% end %>
</div>

<% if current_user.present? %>
  <%= form_for([@course, @course.comments.build]) do |f| %>
    <div class="input-group input-group-sm">
      <%= f.text_area :body, :class => 'form-control', :placeholder => 'Comment here' %>
      <span class='input-group-btn'>
        <%= f.submit :class => 'btn btn-default' %>
      </span>
    </div>
  <% end %>
<% end %>
 

    
    

