<h1>Pages#profile</h1>
<p>Find me in app/views/pages/profile.html.erb</p>
<% if current_user %>
	

	<%= form_for(current_user) do |f| %>
      <%= f.collection_select :major, Major.order(:name), :name, :name%>
      <%= f.submit "Submit", :class => 'btn sign-up-btn' %>
    <% end %>

    <% User.all.each do |u|%>
    	<%=u.username%>:<%=u.major%><br>
    <% end %>
		
<% end %>
